.imageIntuit{
    background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjXiti-t4bnAhXb6OAKHahIBmQQjRx6BAgBEAQ&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AIntuit_Logo.svg&psig=AOvVaw3hPhSdXq8g9DdtIxXljrNa&ust=1579206148718660);
}

div.subLogo>div>img{
    width: 23px;
    height: 23px;
}

.formSignUp>div.form-group{
    text-align: left;
}